a {
  font-size: 12px;
  font-weight: 600;
  border-bottom: solid 2px red;
  border-radius: 5px;
  color: antiquewhite;
}
label {
  user-select: none;
}

.box {
  display: flex;
  background-color: #fff;
}
